# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: © 2021 Aalto University
*.vscode*
*__pycache__*
rng_testsuite/extern/TestU01*
*/build/*
*egg-info/
*.coverage
htmlcov/*
build/*
log_*
chacha/native*.so
timing/*.np
local_notes.txt
dist/*